<div th:id="@{pedidoModal}+${pedido.getId()}" class="modal fade">
	<div class="modal-dialog">
	  <div class="modal-content">
		  <div class="modal-header">
			<h4 class="modal-title">Pedido</h4>
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		  </div>
		  <div class="modal-body">
			<div class="fixed-top collapse show wrapper">
				<ul class="list-group">
				  <li class="list-group-item"></li>
				</ul>
			</div>
		  </div>
		  <div class="modal-footer">
			<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
		  </div>	
	  </div>
	</div>
  </div>