<div id="addEmployeeModal" class="modal fade">
	<div class="modal-dialog">
		<div class="modal-content">
			<form action="/producto/save" method="POST" id="productoForm">
				<div class="modal-header">
					<h4 class="modal-title">Agregar Producto</h4>
					<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label>Nombre</label> <input name="producto" type="text"
							class="form-control" id="productoModal" placeholder="Ej: Manaos">
					</div>
					<div class="form-group">
						<label>Fecha</label> <input name="fecha" type="date"
							class="form-control" id="fechaModal" placeholder="DD/MM/AAAA">
					</div>
					<div class="form-group">
						<label>Precio</label> <input name="precio" type="text"
							class="form-control intTextBox" id="precioModal" placeholder="$10.000">
					</div>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-default" data-dismiss="modal"
						value="Cancelar "> <input type="button"
						class="btn btn-success" value="Agregar" id="agregarProducto">
				</div>
			</form>
		</div>
	</div>
</div>
