<div class="container tablaProducto">
	<div class="table-wrapper">
		<div class="table-title">
			<div class="row">
				<div class="col-sm-6">
					<h2>
						Lista de <b>Pedidos</b>
					</h2>
				</div>
				<div class="col-sm-6">
					<a href="#addEmployeeModal" class="btn btn-success"
						data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Agregar
							pedido</span></a> <a href="#deleteEmployeeModalMultiple"
						class="btn btn-danger" data-toggle="modal"><i
						class="material-icons">&#xE15C;</i> <span>Borrar</span></a>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="@{parcials/persona/delete_multiple}"></div>
	<!-- Edit Modal HTML -->
	<div th:replace="@{parcials/persona/save_modal}"></div>
</div>