<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="assets/img/isotipo_finneg.png">
  <title>Crisalis</title>
  <style th:replace="@{parcials/admin_styles}"></style>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">

  <!-- Preloader -->
  <div th:replace="@{parcials/admin_preloader}"></div>

  <!-- Navbar -->
  <div th:replace="@{parcials/admin_navbar}"></div>

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
      <img th:src="@{../assets/AdminLTE/dist/img/isotipo_finneg.png}" alt="Finnegans Logo" class="brand-image pt-2 " style="opacity: .8">
      <span class="brand-text font-weight-light justify-content-center">Crisalis</span>
    </a>

    <!-- Sidebar -->
    <div th:replace="@{parcials/admin_sidebar}"></div>
  </aside>

    <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">LISTA DE PRODUCTOS</h1>
          </div><!-- /.col -->
          <div class="btn-group align-items-end ml-auto mr-5 pr-2" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Añadir Producto</button>
          </div>
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content-header -->
    <section class="content">
      <div class="row">
        <div th:replace="@{parcials/table_producto}"></div>
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Control Sidebar -->
    <div th:replace="@{parcials/admin_controlsidebar}"></div>
    <!-- /.control-sidebar -->
  </div>
    <!-- Main Footer -->
  <footer th:replace="@{parcials/admin_footer}"></footer>
</div>
<!-- ./wrapper -->
<!-- Scripts -->
    <div th:replace="@{parcials/admin_scripts}"></div>
</body>
</html>