<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.com">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crisalis</title>
	  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
	  <link rel="stylesheet" type="text/css" th:href="@{/assets/css/bootstrap/bootstrap.css}"/>
    <link rel="icon" type="image/png" href="assets/img/isotipo_finneg.png">
	<src th:src="@{/assets/js/bootstrap/bootstrap.bundle.min.js}" />
</head>
<body>
    <section class="vh-100">
        <div class="container py-2 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-10">
              <div class="card" style="border-radius: 1rem;">
                <div class="row g-0">
                  <div class="row justify-content-center">
                    <div class="col-md-5 col-ps-6 col-xl-6 order-2 order-lg-1 ps-6">
      
                      <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Registrarse</p>
      
                      <form action="/usuario" method="POST">
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="text" id="nombre" name="nombre" required class="form-control" />
                            <label class="form-label" for="nombre">Tu nombre</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="email" id="username" name="username" required class="form-control" />
                            <label class="form-label" for="username">Tu email</label>
                          </div>
                        </div>
      
                        <div class="d-flex flex-row align-items-center mb-4">
                          <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                          <div class="form-outline flex-fill mb-0">
                            <input type="password" id="pass" name="pass"  required class="form-control" />
                            <label class="form-label" for="pass">Contraseña</label>
                          </div>
                        </div>
      
                        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                          <button type="submit" class="btn btn-primary btn-lg">Registrarse</button>
                        </div>
      
                      </form>
      
                    </div>
                    <div class="col-md-6 col-ps-5 order-1 order-lg-2 d-none d-md-block py-0">
      
                      <img th:src="@{assets/img/programming4.jpg}"
                      alt="login form" class="img-fluid bg-white rounded" style="border-radius: 1rem 0 0 1rem;"/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</body>
</html>