<aside class="control-sidebar control-sidebar-dark sidebar-dark-primary">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column">
        <li class="nav-item">
          <a href="/logout" class="nav-link text-white">
            <i class="fas fa-sign-out-alt nav-icon"></i>  
            <p>Cerrar Sesion</p>
          </a>
        </li>
<!--         <li class="nav-item"> -->
<!--           <a href="#" class="nav-link text-white"> -->
<!--             <i class="fas fa-cog nav-icon"></i>   -->
<!--             <p>Configuracion</p> -->
<!--           </a> -->
        </li>
      </ul>
    </nav>
  </aside>