<div th:id="@{deleteEmployeeModal}+${producto.getId()}" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/producto/delete" method="POST">
        <div class="modal-header">
          <h4 class="modal-title">Borrar <b th:text="${producto.getPedido().getNombre()}"></b></h4>
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">
          <p>¿Está seguro de que desea eliminar estos registros?</p>
          <p class="text-warning"><small>Esta acción no puede deshacerse.</small></p>
        </div>
        <div class="modal-footer">
          <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
          <input type="submit" class="btn btn-danger" value="Borrar">
          <input type="hidden" name="productoId" th:value="${producto.getId()}">
        </div>
      </form>
    </div>
  </div>
</div>